<html>
    <head>
        <title>
            <%= title %>
        </title>

        <!-- linking the css stylesheet -->
        <link rel="stylesheet" href="/CSS/home.css">

        <!-- Fontawesome cdn -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    </head>
    <body>

        <div class="heading">
            <h1>
                <i class="far fa-address-card"></i>
                Contacts
            </h1>

        </div>

        <div class="contact-list-container">
            <div class="contact-list">
                <ul>
                    <li style="font-size: 1.2rem;padding: 5px;font-weight: bolder;">
                        <p>Name</p>
                        <p>Phone No.</p>
                    </li>
                    <% for(let i of contact_list){ %>
                        <li class="contact">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                            <div class="actions-container">
                                <a href="/delete-contact/?id=<%=i._id%>">
                                    <i class="fas fa-trash-alt" style="font-size: 18px;color:#2C5F2D;"></i>
                                </a>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
        
        <!-- bg-modal Section -->
        <div class="bg-modal">
            <div class="modal-content">
                <div class="close">
                    +
                </div>
                
                <form action="/create-contact" method="POST">
                    <input type="text" name="name" placeholder="First Name" required>
                    <input type="text" name="last_Name" placeholder="Last Name">
                    
                    <input type="text" name="Company" placeholder="Company">
                    <input type="text" name="job_title" placeholder="Job title">

                    <input type="email" name="email" placeholder="abc@xyz.com">


                    <input type="number" name="phone" placeholder="phone" required>
                    <button type="submit">Save</button>
                </form>
            </div>
            
        </div>

        <!-- create-Button -->
        <div class="create-button">
            <i class="fas fa-plus"></i>
        </div>

        <!-- linking the javascript file -->
        <script type="text/javascript" src="/js/home.js">
        
        </script>


    </body>
</html>